
<!--==========================================
                   ABOUT
===========================================-->
<div id="about" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- DETAILS -->
                <div id="about-card" class="card">
                    <div class="card-content">
                        <!-- ABOUT PARAGRAPH -->
                        <p>
                            Hi, I'm Jonathan. I'm a student at Cornell University studying Chemical Engineering and Computer Science.
                            In addition to English I am fluent in Hebrew and Russian. I've always enjoyed solving problems and the
                            process brings me enormous satisfaction and fullfillment. I hope to use my drive and
                            determination to make a difference in the world.
                        </p>
                        <br/>
                        <p>
                            I enjoy outdoor activities such as mountain biking, off road and street motorcycles, volleyball, and water skiing. I'm also an avid musician and have been playing piano since the age of 7.

                        </p>
                    </div>

                    <!-- BUTTONS -->
                    <div id="about-btn" class="card-action">
                        <div class="about-btn">
                            <!-- DOWNLOAD CV BUTTON -->
                            <a href="/files/jonathanmaresresume.pdf" class="btn waves-effect">Download CV</a>
                            <!-- CONTACT BUTTON -->
                            <a href="mailto:jmares93@gmail.com" class="btn waves-effect">Email Me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
