

<!--==========================================
                   EDUCATION
===========================================-->
<section id="education" class="section">
    <div class="container">
        <!-- SECTION TITLE -->
        <div class="section-title">
            <h4 class="text-uppercase text-center"><i class="title-icon fa fa-graduation-cap"></i>Education</h4>
        </div>

        <div id="timeline-education">

            <!-- FIRST TIMELINE -->
            <div class="timeline-block">
                <!-- DOT -->
                <div class="timeline-dot"><i class="fa fa-graduation-cap"></i></div>
                <!-- TIMELINE CONTENT -->
                <div class="card timeline-content">
                    <div class="card-content">
                        <!-- TIMELINE TITLE -->
                        <h6 class="timeline-title">BS Chemical Engineering and Computer Science</h6>
                        <!-- TIMELINE TITLE INFO -->
                        <div class="timeline-info">
                            <h6>
                                <small>Cornell University</small>
                            </h6>
                            <h6>
                                <small>2011 - 2016</small>
                            </h6>
                        </div>
                        <!-- TIMELINE PARAGRAPH -->
                        <p>
                            Double Majored in ChemE and CS. Drug Delivery Researcher in the
                            <a href="https://putnamgroup.engineering.cornell.edu/">Putnam Group </a>
                        </p>
                        <!-- BUTTON TRIGGER MODAL -->
                        <a href="#" class="modal-dot" data-toggle="modal" data-target="#cornell-modal">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- SECOND TIMELINE -->
            <div class="timeline-block">
                <!-- DOT -->
                <div class="timeline-dot"><h6>H</h6></div>
                <!-- TIMELINE CONTENT -->
                <div class="card timeline-content">
                    <div class="card-content">
                        <!-- TIMELINE TITLE -->
                        <h6 class="timeline-title">High School</h6>
                        <!-- TIMELINE TITLE INFO -->
                        <div class="timeline-info">
                            <h6>
                                <small>Sleepy Hollow High School</small>
                            </h6>
                            <h6>
                                <small>2008 - 2011</small>
                            </h6>
                        </div>
                        <!-- TIMELINE PARAGRAPH -->
                        <p>
                        </p>
                    </div>
                </div>
            </div>

            <!-- THIRD TIMELINE -->
            <!--<div class="timeline-block">-->
                <!--&lt;!&ndash; DOT &ndash;&gt;-->
                <!--<div class="timeline-dot"><h6>C</h6></div>-->
                <!--&lt;!&ndash; TIMELINE CONTENT &ndash;&gt;-->
                <!--<div class="card timeline-content">-->
                    <!--<div class="card-content">-->
                        <!--&lt;!&ndash; TIMELINE TITLE &ndash;&gt;-->
                        <!--<h6 class="timeline-title">Computer Science</h6>-->
                        <!--&lt;!&ndash; TIMELINE TITLE INFO &ndash;&gt;-->
                        <!--<div class="timeline-info">-->
                            <!--<h6>-->
                                <!--<small>Down Street College</small>-->
                            <!--</h6>-->
                            <!--<h6>-->
                                <!--<small>Jan 2006 - Mar 2008</small>-->
                            <!--</h6>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; TIMELINE PARAGRAPH &ndash;&gt;-->
                        <!--<p>-->
                            <!--I completed my computer science degree from this prestigious institution.-->
                            <!--I successful completed all the credits without any fallout and got A grade overall.-->
                        <!--</p>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; FOURTH TIMELINE &ndash;&gt;-->
            <!--<div class="timeline-block">-->
                <!--&lt;!&ndash; DOT &ndash;&gt;-->
                <!--<div class="timeline-dot"><i class="fa fa-graduation-cap"></i></div>-->
                <!--&lt;!&ndash; TIMELINE CONTENT &ndash;&gt;-->
                <!--<div class="card timeline-content">-->
                    <!--<div class="card-content">-->
                        <!--&lt;!&ndash; TIMELINE TITLE &ndash;&gt;-->
                        <!--<h6 class="timeline-title">Software Engineering</h6>-->
                        <!--&lt;!&ndash; TIMELINE TITLE INFO &ndash;&gt;-->
                        <!--<div class="timeline-info">-->
                            <!--<h6>-->
                                <!--<small>Oxford University</small>-->
                            <!--</h6>-->
                            <!--<h6>-->
                                <!--<small>Jan 2009 - Mar 2010</small>-->
                            <!--</h6>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; TIMELINE PARAGRAPH &ndash;&gt;-->
                        <!--<p>-->
                            <!--I completed this degree from this prestigious institution.-->
                            <!--I successful completed all the credits without any fallout and got A grade overall.-->
                        <!--</p>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; FIFTH TIMELINE &ndash;&gt;-->
            <!--<div class="timeline-block">-->
                <!--&lt;!&ndash; DOT &ndash;&gt;-->
                <!--<div class="timeline-dot"><h6>U</h6></div>-->
                <!--&lt;!&ndash; TIMELINE CONTENT &ndash;&gt;-->
                <!--<div class="card timeline-content">-->
                    <!--<div class="card-content">-->
                        <!--&lt;!&ndash; TIMELINE TITLE &ndash;&gt;-->
                        <!--<h6 class="timeline-title">UI/UX Workshop</h6>-->
                        <!--&lt;!&ndash; TIMELINE TITLE INFO &ndash;&gt;-->
                        <!--<div class="timeline-info">-->
                            <!--<h6>-->
                                <!--<small>IT Next Academy</small>-->
                            <!--</h6>-->
                            <!--<h6>-->
                                <!--<small>Jan 2010 - Mar 2011</small>-->
                            <!--</h6>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; TIMELINE PARAGRAPH &ndash;&gt;-->
                        <!--<p>-->
                            <!--I completed this course from this prestigious institution.-->
                            <!--I successful completed all the credits without any fallout and got A grade overall.-->
                        <!--</p>-->
                        <!--&lt;!&ndash; BUTTON TRIGGER MODAL &ndash;&gt;-->
                        <!--<a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-2">-->
                            <!--<i class="fa fa-ellipsis-h" aria-hidden="true"></i>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; SIXTH TIMELINE &ndash;&gt;-->
            <!--<div class="timeline-block">-->
                <!--&lt;!&ndash; DOT &ndash;&gt;-->
                <!--<div class="timeline-dot"><i class="fa fa-globe"></i></div>-->
                <!--&lt;!&ndash; TIMELINE CONTENT &ndash;&gt;-->
                <!--<div class="card timeline-content">-->
                    <!--<div class="card-content">-->
                        <!--&lt;!&ndash; TIMELINE TITLE &ndash;&gt;-->
                        <!--<h6 class="timeline-title">Web Development</h6>-->
                        <!--&lt;!&ndash; TIMELINE TITLE INFO &ndash;&gt;-->
                        <!--<div class="timeline-info">-->
                            <!--<h6>-->
                                <!--<small>Lipro University</small>-->
                            <!--</h6>-->
                            <!--<h6>-->
                                <!--<small>Jan 2011 - Mar 2012</small>-->
                            <!--</h6>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; TIMELINE PARAGRAPH &ndash;&gt;-->
                        <!--<p>-->
                            <!--I completed this course from this prestigious institution.-->
                            <!--I successful completed all the credits without any fallout and got A grade overall.-->
                        <!--</p>-->
                        <!--&lt;!&ndash; BUTTON TRIGGER MODAL &ndash;&gt;-->
                        <!--<a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-3">-->
                            <!--<i class="fa fa-ellipsis-h" aria-hidden="true"></i>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        </div>
    </div>
</section>
