
<!--==========================================
                   EXPERIENCE
===========================================-->
<section id="experience" class="section">
    <div class="container">
        <!-- SECTION TITLE -->
        <div class="section-title">
            <h4 class="text-uppercase text-center"><i class="title-icon fa fa-suitcase"></i>Experience</h4>
        </div>

        <div id="timeline-experience">

            <!-- FIRST TIMELINE -->
            <!--Wayfair-->
            <div class="timeline-block">
                <!-- DOT -->
                <div class="timeline-dot"><h6>W</h6></div>
                <!-- TIMELINE CONTENT -->
                <div class="card timeline-content">
                    <div class="card-content">
                        <!-- TIMELINE TITLE -->
                        <h6 class="timeline-title">Software Engineering Intern</h6>
                        <!-- TIMELINE TITLE INFO -->
                        <div class="timeline-info">
                            <h6>
                                <small>Wayfair</small>
                            </h6>
                            <h6>
                                <small>Summer 2016</small>
                            </h6>
                        </div>
                        <!-- TIMELINE PARAGRAPH -->
                        <p>
                            Rebuilt customer facing address book to adhere to current MVC standards and implemented
                            <a href="https://wayfair.github.io/tungstenjs">Tungsten.js </a>
                            (a frontend JavaScript framework built at Wayfair) on the application.

                            Tech Stack: PHP, Mustache, JavaScript, Backbone / <a href="https://wayfair.github.io/tungstenjs">Tungsten.js</a>.
                        </p>
                        <!-- BUTTON TRIGGER MODAL -->
                        <a href="#" class="modal-dot" data-toggle="modal" data-target="#wayfair-modal">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- SECOND TIMELINE -->
            <div class="timeline-block">
                <!-- DOT -->
                <div class="timeline-dot"><h6>P</h6></div>
                <!-- TIMELINE CONTENT -->
                <div class="card timeline-content">
                    <div class="card-content">
                        <!-- TIMELINE TITLE -->
                        <h6 class="timeline-title">Software Engineering Associate</h6>
                        <!-- TIMELINE TITLE INFO -->
                        <div class="timeline-info">
                            <h6>
                                <small>Pfizer</small>
                            </h6>
                            <h6>
                                <small>Jan 2016 - May 2016</small>
                            </h6>
                        </div>
                        <!-- TIMELINE PARAGRAPH -->
                        Developed an internal MeteorJS application to visualize Pfizer products.
                        <p>

                        </p>

                    </div>
                </div>
            </div>

            <!-- THIRD TIMELINE - Maggio Mares -->
            <div class="timeline-block">
                <!-- DOT -->
                <div class="timeline-dot"><h6>M</h6></div>
                <!-- TIMELINE CONTENT -->
                <div class="card timeline-content">
                    <div class="card-content">
                        <!-- TIMELINE TITLE -->
                        <h6 class="timeline-title">Full Stack Developer</h6>
                        <!-- TIMELINE TITLE INFO -->
                        <div class="timeline-info">
                            <h6>
                                <small><a href="http://maggiomares.com">MaggioMares Software </a></small>
                            </h6>
                            <h6>
                                <small>July 2016 - Now</small>
                            </h6>
                        </div>
                        <!-- TIMELINE PARAGRAPH -->
                        <p>
                            Co-started a software shop for building responsive, lightweight websites for small businesses.
                            Clients include restaurants, real estate agents, and other professionals.
                        </p>

                    </div>
                </div>
            </div>

            <!-- FOURTH TIMELINE - Novartis Vaccines -->
            <div class="timeline-block">
                <!-- DOT -->
                <div class="timeline-dot"><h6>N</h6></div>
                <!-- TIMELINE CONTENT -->
                <div class="card timeline-content">
                    <div class="card-content">
                        <!-- TIMELINE TITLE -->
                        <h6 class="timeline-title">Chemical Engineering Intern</h6>
                        <!-- TIMELINE TITLE INFO -->
                        <div class="timeline-info">
                            <h6>
                                <small>Novartis Vaccines</small>
                            </h6>
                            <h6>
                                <small>Summer 2014</small>
                            </h6>
                        </div>
                        <!-- TIMELINE PARAGRAPH -->
                        <p>
                            My summer project was to contribute to development of a multipurpose vaccine platform. I
                            designed and executed experiments to define a pilot scale oil-in-water emulsion process...
                        </p>
                        <!-- BUTTON TRIGGER MODAL -->
                        <a href="#" class="modal-dot" data-toggle="modal" data-target="#novartis-modal">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- FIVE TIMELINE - Integrated Project Services -->
            <div class="timeline-block">
                <!-- DOT -->
                <div class="timeline-dot"><h6>S</h6></div>
                <!-- TIMELINE CONTENT -->
                <div class="card timeline-content">
                    <div class="card-content">
                        <!-- TIMELINE TITLE -->
                        <h6 class="timeline-title">Project Engineering Intern</h6>
                        <!-- TIMELINE TITLE INFO -->
                        <div class="timeline-info">
                            <h6>
                                <small>Integrated Project Services</small>
                            </h6>
                            <h6>
                                <small>Summer 2013</small>
                            </h6>
                        </div>
                        <!-- TIMELINE PARAGRAPH -->
                        <p>
                            Aided Engineering Design Team with AutoCAD drawings and process flow calculations. I also
                            assisted the Commissioning and Project Delivery teams at the Integra LifeSciences manufacturing
                            job site.
                        </p>
                    </div>
                </div>
            </div>

            <!-- SIXTH TIMELINE - Hi Tech Pharmacal -->
            <div class="timeline-block">
                <!-- DOT -->
                <div class="timeline-dot"><h6>S</h6></div>
                <!-- TIMELINE CONTENT -->
                <div class="card timeline-content">
                    <div class="card-content">
                        <!-- TIMELINE TITLE -->
                        <h6 class="timeline-title">Validation and Technical Services Intern</h6>
                        <!-- TIMELINE TITLE INFO -->
                        <div class="timeline-info">
                            <h6>
                                <small>Hi Tech Pharmacal</small>
                            </h6>
                            <h6>
                                <small>Summers 2011 & 2012</small>
                            </h6>
                        </div>
                        <!-- TIMELINE PARAGRAPH -->
                        <div>
                            <ul>
                                <li>Conducted surface area calculations of process equipment (kettles, tanks, agitators, pumps, etc.)</li>
                                <li>Calculated product transfer line and filler machine volumes</li>
                                <li> Initiated protocol to optimize the filling process of products</li>
                            </ul>
                        </div>
                        <!-- BUTTON TRIGGER MODAL -->
                        <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-5">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
