<!--==========================================
                   INTEREST
===========================================-->
<section id="interest" class="section">
    <div class="container">
        <!-- SECTION TITLE -->
        <div class="section-title">
            <h4 class="text-uppercase text-center"><i class="title-icon fa fa-heart"></i>Interests</h4>
        </div>

        <div id="interest-card" class="card">
            <!--INTEREST TEXT-->
            <div class="card-content">
                <p>
                    I have been a musician from a young age, and over the years picked up
                    trumpet, trombone, vibes, and guitar, although my main instrument is the piano.
                    I'm classically trained, but lately I've been exploring Jazz.
                </p>
                <br/>
                <p>
                    I also enjoy outdoor activities such as soccer, watersports, skiing, biking, and
                    motorcycles.
                </p>
            </div>

            <!--INTEREST ICONS-->
            <div class="row no-gutters">

                <!--INTEREST ICON ONE-->
                <div class="col-md-2 col-sm-4 col-xs-6  box text-center">
                    <div class="interest-icon">
                        <i class="fa fa-music"></i>
                        <span>Music</span>
                    </div>
                </div>
                <!--INTEREST ICON TWO-->
                <div class="col-md-2 col-sm-4 col-xs-6 box text-center">
                    <div class="interest-icon-even">
                        <i class="fa fa-bicycle"></i>
                        <span>Outdoor Sports</span>
                    </div>
                </div>
                <!--INTEREST ICON THREE-->
                <div class="col-md-2 col-sm-4 col-xs-6 box text-center">
                    <div class="interest-icon">
                        <i class="fa fa-camera"></i>
                        <span>Photography</span>
                    </div>
                </div>
                <!--INTEREST ICON FOUR-->
                <div class="col-md-2 col-sm-4 col-xs-6 box text-center">
                    <div class="interest-icon-even">
                        <i class="fa fa-futbol-o"></i>
                        <span>Soccer</span>
                    </div>
                </div>
                <!--INTEREST ICON FIVE-->
                <div class="col-md-2 col-sm-4 col-xs-6 box text-center">
                    <div class="interest-icon">
                        <i class="fa fa-plane"></i>
                        <span>Traveling</span>
                    </div>
                </div>
                <!--INTEREST ICON SIX-->
                <div class="col-md-2 col-sm-4 col-xs-6 box text-center">
                    <div class="interest-icon-even">
                        <i class="fa fa-gamepad"></i>
                        <span>Board & PC Games</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

