<!--==========================================
                  MODALS
===========================================-->

<!--MODAL ONE-->
<div class="modal fade" id="quorum-modal" tabindex="-1" role="dialog" aria-labelledby="quorum-modal-label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!--MODAL HEADER-->
            <div class="modal-header  text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="quorum-modal-label">Quorum</h4>
                <h6>
                    <small>Full Stack Software Engineer</small>
                </h6>
            </div>
            <!--MODAL BODY-->
            <div class="modal-body">
                <p>
                   Jonathan joined Quorum Summer 2017 as a full stack software engineer. Jonathan is a core member of the frontend engineering team,
                   which is responsible for building and maintaining Quorum's React/Redux frontend architecture. The team is also responsible for the
                   Tastypie API layer of the stack. Jonathan is currently building Quorum's spreadsheet feature, which allows users to pull in data
                   from across the platform into a spreadsheet and provides functionality such as sorting, filtering, and visualizing. His other
                   responsibilities include:
                   <br/>
                   <br/>
                   - Deploying code to production <br/>
                   - Performing code reviews <br/>
                   - Interviewing potential engineering candidates <br/>
                   - Improving and maintaining frontend configuration <br/>
                </p>
            </div>
            <!--MODAL FOOTER-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL TWO-->
<div class="modal fade" id="myModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!--MODAL HEADER-->
            <div class="modal-header  text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel-2">EDUCATION AT Y</h4>
                <h6>
                    <small>Jan 2014 - Mar 2015</small>
                </h6>
            </div>
            <!--MODAL BODY-->
            <div class="modal-body">
                <p>
                    I have learned a great many things from participating in varsity football.
                    It has changed my entire outlook on and attitude toward life. Before my
                    freshman year at [high-school], I was shy, had low self-esteem and turned
                    away from seemingly impossible challenges. Football has altered all of these
                    qualities. On the first day of freshman practice, the team warmed up with a
                    game of touch football. The players were split up and the game began. However,
                </p>
            </div>
            <!--MODAL FOOTER-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL THREE-->
<div class="modal fade" id="myModal-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-3">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!--MODAL HEADER-->
            <div class="modal-header  text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel-3">EDUCATION AT Z</h4>
                <h6>
                    <small>Jan 2014 - Mar 2015</small>
                </h6>
            </div>
            <!--MODAL BODY-->
            <div class="modal-body">
                <p>
                    I have learned a great many things from participating in varsity football.
                    It has changed my entire outlook on and attitude toward life. Before my
                    freshman year at [high-school], I was shy, had low self-esteem and turned
                    away from seemingly impossible challenges. Football has altered all of these
                    qualities. On the first day of freshman practice, the team warmed up with a
                    game of touch football. The players were split up and the game began. However,
                </p>
            </div>
            <!--MODAL FOOTER-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL FOUR-->
<div class="modal fade" id="wayfair-modal" tabindex="-1" role="dialog" aria-labelledby="wayfair-modal-label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!--MODAL HEADER-->
            <div class="modal-header  text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="wayfair-modal-label">Wayfair</h4>
                <h6>
                    <small>Summer 2016</small>
                </h6>
            </div>
            <!--MODAL BODY-->
            <div class="modal-body">
                <p>
                    Jonathan spent a summer as an intern at Wayfair. Jonathan learned various web development 
                    technologies such as PHP, Backbone, and Mustache, as well as gained experience working in a sofware team.
                </p>
            </div>
            <!--MODAL FOOTER-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL FIVE-->
<div class="modal fade" id="novartis-modal" tabindex="-1" role="dialog" aria-labelledby="novartis-modal-label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!--MODAL HEADER-->
            <div class="modal-header  text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="novartis-modal-label">Novartis Vaccines</h4>

                <h6>
                    <small>Research Triangle Park, NC</small>
                </h6>

                <h6>
                    <small>Summer 2014</small>
                </h6>
            </div>
            <!--MODAL BODY-->
            <div class="modal-body">
                <p>
                    Jonathan spent the summer contributing to development of a multipurpose vaccine platform. His responsibilities included
                    designing and executing experiments to define a pilot scale oil-in-water emulsion process.
                    This included running the entire process from start to finish - operating the chiller, pumps,
                    homogenizer, and emulsifier. Jonathan also used particle sizing techniques and HPLC to characterize the emulsion he produced.
                </p>
            </div>
            <!--MODAL FOOTER-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
