<!--==========================================
PRICING TABLE
<--===========================================-->
<section id="pricing-table" class="section">
    <div class="container">
        <!--SECTION TITLE-->
        <div class="section-title">
            <h4 class="text-uppercase text-center"><i class="title-icon fa fa-money"></i>Pricing</h4>
        </div>
        <!--PRICING TABLES-->
        <div id="pricing-card" class="row">
            <!--PRICING ONE-->
            <div id="p-one" class="col-md-4 col-sm-4 col-xs-12">
                <div class="pricing">
                    <div class="card">
                        <!--PRICING TOP-->
                        <div class="pricing-top">
                            <p><sup>$</sup><em>50</em>/mo</p>
                            <span>Starter</span>
                        </div>
                        <!--PRICING DETAILS-->
                        <div class="pricing-bottom text-center text-capitalize">
                            <ul>
                                <li>2 GB Bandwidth</li>
                                <li>5 GB Disk Space</li>
                                <li>5 Databases</li>
                                <li>Free Domain</li>
                                <li>5 Subdomain</li>
                            </ul>
                        </div>
                        <!--BUTTON-->
                        <div class="card-action text-center">
                            <a class="waves-effect btn">Purchase</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--PRICING TWO-->
            <div id="p-three" class="col-md-4 col-sm-4 col-xs-12">
                <div class="pricing">
                    <div class="card">
                        <!--PRICING TOP-->
                        <div class="pricing-top">
                            <p><sup>$</sup><em>200</em>/mo</p>
                            <span>Ultimate</span>
                        </div>
                        <!--PRICING DETAILS-->
                        <div class="pricing-bottom text-center text-capitalize">
                            <ul>
                                <li>∞ Bandwidth</li>
                                <li>∞ Disk Space</li>
                                <li>∞ Databases</li>
                                <li>Free Domain</li>
                                <li>∞ Subdomain</li>
                            </ul>
                        </div>
                        <!--BUTTON-->
                        <div class="card-action text-center">
                            <a class="waves-effect btn">Purchase</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--PRICING THREE-->
            <div id="p-two" class="col-md-4 col-sm-4 col-xs-12">
                <div class="pricing">
                    <div class="card">
                        <!--PRICING TOP-->
                        <div class="pricing-top">
                            <p><sup>$</sup><em>100</em>/mo</p>
                            <span>Business</span>
                        </div>
                        <!--PRICING DETAILS-->
                        <div class="pricing-bottom text-center text-capitalize">
                            <ul>
                                <li>5 GB Bandwidth</li>
                                <li>25 GB Disk Space</li>
                                <li>10 Databases</li>
                                <li>Free Domain</li>
                                <li>15 Subdomain</li>
                            </ul>
                        </div>
                        <!--BUTTON-->
                        <div class="card-action text-center">
                            <a class="waves-effect btn">Purchase</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


