<!--==========================================
                  Projects
===========================================-->
<section id="portfolios" class="section">
    <div class="container">
        <!-- SECTION TITLE -->
        <div class="section-title">
            <h4 class="text-uppercase text-center"><i class="title-icon fa fa-archive"></i>Projects</h4>
        </div>
        <div id="portfolios-card" class="row">

            <!--OPTIONS-->
            <ul class="nav nav-tabs">
                <!--ALL CATEGORIES-->
                <li class="active waves-effect list-shuffle"><a id="all-sample" class="active" href="#all" data-toggle="tab">ALL</a>
                    <!--CATEGORIES-->
                <li class="waves-effect list-shuffle"><a class="cate" href="#a" data-toggle="tab">Hackathons</a></li>
                <li class="waves-effect list-shuffle"><a class="cate" href="#b" data-toggle="tab">Websites</a></li>
                <li class="waves-effect list-shuffle"><a class="cate" href="#c" data-toggle="tab">Applications</a></li>
                <li class="waves-effect list-shuffle"><a class="cate" href="#d" data-toggle="tab">Coursework</a></li>

            </ul>

            <!--CATEGORIES CONTENT-->
            <div class="tab-content">

                <!--All CATEGORIES-->
                <div id="all"></div>

                <!--CATEGORY 1-->
                <div id="a">

                    <!--CATEGORY CONTENT ONE SMALL-->
                    <div class="col-md-4 col-sm-6 col-xs-12 grid inRight">
                        <figure class="port-effect">
                            <img src="../images/dinerLogo.png" class="img-responsive" alt="portfolio-demo"/>
                            <figcaption>
                                <h2>dine-R <span></span></h2>
                                <p>Tinder for Meals near you. Built at the Wayfair 2016 Hackathon.</p>
                                <a href="http://devpost.com/software/diner">View more</a>
                            </figcaption>
                        </figure>
                    </div>

                    <!--CATEGORY CONTENT TWO SMALL-->
                    <div class="col-md-4 col-sm-6 col-xs-12 grid inRight">
                        <figure class="port-effect">
                            <img src="images/twitterPops.jpg" class="img-responsive" alt="portfolio-demo"/>
                            <figcaption>
                                <h2>TwitterPops</h2>
                                <p>Visualize NYC Tweets in Realtime!</p>
                                <a href="http://devpost.com/software/twitterpops-what-s-really-happening-around-you">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <!--CATEGORY CONTENT THREE SMALL-->
                    <div class="col-md-4 col-sm-6 col-xs-12 grid inLeft">
                        <figure class="port-effect">
                            <img src="images/portfolio.png" class="img-responsive" alt="portfolio-demo"/>
                            <figcaption>
                                <h2>Readme-dot-text</h2>

                                <p>Convert images into speech for the visually impaired</p>
                                <a href="http://github.com/jm2242/Cooper15">View more</a>
                            </figcaption>
                        </figure>
                    </div>

                </div>

                <!--CATEGORY 2: Websites-->
                <div id="b">

                    <!--CATEGORY CONTENT ONE BIG-->
                    <!--<div class="col-md-4 col-sm-12 col-xs-12 grid big inRight">-->
                        <!--<figure class="port-effect">-->
                            <!--<img src="images/portfolio.png" class="img-responsive" alt="portfolio-demo"/>-->
                            <!--<figcaption>-->
                                <!--<h2>T-shirt <span>BRAND</span></h2>-->
                                <!--<p>A brand logo designed by me for Silicon Brand</p>-->
                                <!--<a href="#">View more</a>-->
                            <!--</figcaption>-->
                        <!--</figure>-->
                    <!--</div>-->

                    <!--CATEGORY CONTENT TWO SMALL-->
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-xs-12 grid inLeft">
                        <figure class="port-effect">
                            <img src="images/zaferonHomepage@2x.png" class="img-responsive" alt="portfolio-demo"/>
                            <figcaption>
                                <h2>Zaferon Grill, Verona, NJ</h2>
                                <p>MaggioMares freelance website built with Angello Maggio</p>
                                <a href="http://zaferongrill.com">View more</a>
                            </figcaption>
                        </figure>
                    </div>


                    <!--CATEGORY CONTENT THREE SMALL-->
                    <!--<div class="col-md-4 col-sm-6 col-xs-12 grid inLeft">-->
                        <!--<figure class="port-effect">-->
                            <!--<img src="images/portfolio.png" class="img-responsive" alt="portfolio-demo"/>-->
                            <!--<figcaption>-->
                                <!--<h2>Cafe <span>LOGO</span></h2>-->
                                <!--<p>I designed this for a clint for his cafe.</p>-->
                                <!--<a href="#">View more</a>-->
                            <!--</figcaption>-->
                        <!--</figure>-->
                    <!--</div>-->

                </div>

                <!--CATEGORY 3: Applications-->
                <div id="c">

                    <!--CATEGORY CONTENT ONE BIG-->
                    <div class="col-md-4 col-sm-12 col-xs-12 grid inLeft">
                        <figure class="port-effect">
                            <img src="../images/drugsDashboardSquare.png" class="img-responsive" alt="portfolio-demo"/>
                            <figcaption>
                                <h2>Drugs Dashboard <span></span></h2>
                                <p>An internal dashboard for visualizing the company's drugs. </p>
                                <a href="https://drugsdashboard-89032.onmodulus.net/">View more</a>
                            </figcaption>
                        </figure>
                    </div>

                    <!--&lt;!&ndash;CATEGORY CONTENT ONE SMALL&ndash;&gt;-->
                    <!--<div class="col-md-4 col-sm-6 col-xs-12 grid inLeft">-->
                        <!--<figure class="port-effect">-->
                            <!--<img src="images/portfolio.png" class="img-responsive" alt="portfolio-demo"/>-->
                            <!--<figcaption>-->
                                <!--<h2>T-shirt <span>BRAND</span></h2>-->
                                <!--<p>A brand logo designed by me for Silicon Brand</p>-->
                                <!--<a href="#">View more</a>-->
                            <!--</figcaption>-->
                        <!--</figure>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;CATEGORY CONTENT TWO SMALL&ndash;&gt;-->
                    <!--<div class="col-md-4 col-sm-6 col-xs-12 grid inRight">-->
                        <!--<figure class="port-effect">-->
                            <!--<img src="images/portfolio.png" class="img-responsive" alt="portfolio-demo"/>-->
                            <!--<figcaption>-->
                                <!--<h2>Sport <span>WEBSITE</span></h2>-->
                                <!--<p>Made this for DECo Sports LTD.</p>-->
                                <!--<a href="#">View more</a>-->
                            <!--</figcaption>-->
                        <!--</figure>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;CATEGORY CONTENT THREE SMALL&ndash;&gt;-->
                    <!--<div class="col-md-4 col-sm-6 col-xs-12 grid inRight">-->
                        <!--<figure class="port-effect">-->
                            <!--<img src="images/portfolio.png" class="img-responsive" alt="portfolio-demo"/>-->
                            <!--<figcaption>-->
                                <!--<h2>Corporate <span>WEBSITE</span></h2>-->

                                <!--<p>Made this for Lance Corporation UK</p>-->
                                <!--<a href="#">View more</a>-->
                            <!--</figcaption>-->
                        <!--</figure>-->
                    <!--</div>-->

                    <!--&lt;!&ndash;CATEGORY CONTENT FOUR SMALL&ndash;&gt;-->
                    <!--<div class="col-md-4 col-sm-6 col-xs-12 grid inLeft">-->
                        <!--<figure class="port-effect">-->
                            <!--<img src="images/portfolio.png" class="img-responsive" alt="portfolio-demo"/>-->
                            <!--<figcaption>-->
                                <!--<h2>T-shirt <span>BRAND</span></h2>-->
                                <!--<p>A brand logo designed by me for Silicon Brand</p>-->
                                <!--<a href="#">View more</a>-->
                            <!--</figcaption>-->
                        <!--</figure>-->
                    <!--</div>-->
                    <!--CATEGORY CONTENT FIVE SMALL-->
                    <div class="col-md-4 col-sm-6 col-xs-12 grid inRight">
                        <figure class="port-effect">
                            <img src="images/portfolio.png" class="img-responsive" alt="portfolio-demo"/>
                            <figcaption>
                                <h2>LiveGroceryList</h2>
                                <p>A simple web app to synchronize grocery lists with your family</p>
                                <a href="http://github.com/jm2242/livegrocerylist">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <!--CATEGORY CONTENT SIX SMALL-->
                    <!--<div class="col-md-4 col-sm-6 col-xs-12 grid inLeft">-->
                        <!--<figure class="port-effect">-->
                            <!--<img src="images/portfolio.png" class="img-responsive" alt="portfolio-demo"/>-->
                            <!--<figcaption>-->
                                <!--<h2>Readme-dot-text</h2>-->

                                <!--<p>Made this for Lance Corporation UK</p>-->
                                <!--<a href="#">View more</a>-->
                            <!--</figcaption>-->
                        <!--</figure>-->
                    <!--</div>-->
                </div>

                <div id="d">
                     <div class="col-md-4 col-sm-6 col-xs-12 grid inRight">
                        <figure class="port-effect">
                            <img src="images/admixture_adj.png" class="img-responsive" alt="portfolio-demo"/>
                            <figcaption>
                                <h2>STRUCTURE Implementation</h2>
                                <p>Implementation of STRUCTURE in Python, a model based clustering method developed at Stanford to infer population structure given multilocus genotype data</p>
                                <a href="https://github.com/jm2242/CS4775_final_project">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <!--PORTFOLIOS ADD GALLERY BUTTON-->
            <!-- <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <button id="add-more" class="center-block btn-large waves-effect"><i id="port-add-icon" class="fa fa-plus"></i></button>
                </div>
            </div> -->
        </div>
    </div>
</section>
