<!--==========================================
                   SKILLS
===========================================-->
<section id="skills" class="section">
    <div class="container">
        <!-- SECTION TITLE -->
        <div class="section-title">
            <h4 class="text-uppercase text-center"><i class="title-icon fa fa-sliders"></i>Skills</h4>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="skills-card" class="card">
                    <div class="card-content">
                        <div class="row">
                            <!-- BEGIN LANGUAGES SECTION-->
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <!-- FIRST SKILL SECTION -->
                                <div class="skills-title">
                                    <h6 class="text-center">Languages</h6>
                                </div>
                                <!-- FIRST SKILL BAR -->
                                <div class="skillbar" data-percent="60%">
                                    <div class="skillbar-title"><span>JavaScript (ES5 & ES6)</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">60%</div>
                                </div>

                                <div class="skillbar" data-percent="60%">
                                    <div class="skillbar-title"><span>HTML/CSS</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">60%</div>
                                </div>

                                <!-- SECOND SKILL BAR  -->
                                <div class="skillbar" data-percent="50%">
                                    <div class="skillbar-title"><span>Python</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">50%</div>
                                </div>
                                <!-- THIRD SKILL BAR  -->
                                <div class="skillbar" data-percent="30%">
                                    <div class="skillbar-title"><span>PHP</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">30%</div>
                                </div>
                                <!-- FOURTH SKILL BAR  -->
                                <div class="skillbar" data-percent="30%">
                                    <div class="skillbar-title"><span>Java</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">30%</div>
                                </div>
                                <!-- FIFTH SKILL BAR  -->
                                <div class="skillbar" data-percent="25%">
                                    <div class="skillbar-title"><span>OCaml</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">25%</div>
                                </div>
                                <!-- SIXTH SKILL BAR  -->
                                <div class="skillbar" data-percent="15%">
                                    <div class="skillbar-title"><span>C</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">15%</div>
                                </div>

                                <!-- SEVENTH SKILL BAR  -->
                                <div class="skillbar" data-percent="15%">
                                    <div class="skillbar-title"><span>Matlab</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">15%</div>
                                </div>
                                <!-- EIGTH SKILL BAR  -->
                                <div class="skillbar" data-percent="10%">
                                    <div class="skillbar-title"><span>Objective C</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">10%</div>
                                </div>
                            </div>
                            <!-- END LANGUAGES SECTION -->

                            <!--BEGIN BACKEND SECTIOn-->
                            <div class="col-md-4 col-sm-4 col-xs-12">

                                <!-- SECOND SKILL SECTION -->
                                <div class="skills-title">
                                    <h6 class="text-center">Backend</h6>
                                </div>

                                <div class="skillbar" data-percent="40%">
                                    <div class="skillbar-title"><span>MongoDB</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">40%</div>
                                </div>

                                <div class="skillbar" data-percent="30%">
                                    <div class="skillbar-title"><span>SQL</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">30%</div>
                                </div>

                                <!-- SECOND SKILL BAR  -->
                                <div class="skillbar" data-percent="40%">
                                    <div class="skillbar-title"><span>Jekyll</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">40%</div>
                                </div>
                                <!-- THIRD SKILL BAR  -->
                                <div class="skillbar" data-percent="50%">
                                    <div class="skillbar-title"><span>MeteorJS</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">50%</div>
                                </div>

                                <div class="skillbar" data-percent="25%">
                                    <div class="skillbar-title"><span>Flask</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">25%</div>
                                </div>

                                <div class="skillbar" data-percent="10%">
                                    <div class="skillbar-title"><span>Django</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">10%</div>
                                </div>
                            </div>
                            <!--END BACKEND SECTION-->

                            <!--BEGIN FRONT END SECTION-->
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <!-- SECOND SKILL SECTION -->
                                <div class="skills-title">
                                    <h6 class="text-center">Frontend Frameworks</h6>
                                </div>

                                <div class="skillbar" data-percent="60%">
                                    <div class="skillbar-title">
                                        <span>
                                            <i class="devicon-jquery-plain-wordmark"></i>
                                            jQuery
                                        </span>
                                    </div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">50%</div>
                                </div>

                                <div class="skillbar" data-percent="30%">
                                    <div class="skillbar-title"><span>underscore.js</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">30%</div>
                                </div>

                                <div class="skillbar" data-percent="35%">
                                    <div class="skillbar-title"><span>Mustache</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">35%</div>
                                </div>

                                <!-- FOURTH SKILL BAR  -->
                                <div class="skillbar" data-percent="10%">
                                    <div class="skillbar-title"><span>React</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">10%</div>
                                </div>
                                <!-- FIFTH SKILL BAR  -->
                                <div class="skillbar" data-percent="25%">
                                    <div class="skillbar-title">
                                        <span><i class="devicon-angularjs-plain colored"></i> Angular 1.x</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">25%</div>
                                </div>
                                <!-- SIXTH SKILL BAR  -->
                                <div class="skillbar" data-percent="30%">
                                    <div class="skillbar-title"><span>Backbone</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">30%</div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <!-- THIRD SKILL SECTION -->
                                <div class="skills-title">
                                    <h6 class="text-center">Frontend - UI</h6>
                                </div>

                                <!-- SEVENTH SKILL BAR  -->
                                <div class="skillbar" data-percent="60%">
                                    <div class="skillbar-title"><span>Bootstrap</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">60%</div>
                                </div>
                                <!-- SEVENTH SKILL BAR  -->
                                <div class="skillbar" data-percent="60%">
                                    <div class="skillbar-title"><span>Materialize</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">60%</div>
                                </div>

                                <div class="skillbar" data-percent="30%">
                                    <div class="skillbar-title"><span>Less</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">30%</div>
                                </div>

                                <div class="skillbar" data-percent="15%">
                                    <div class="skillbar-title"><span>SASS</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">15%</div>
                                </div>
                                <!-- SEVENTH SKILL BAR  -->
                                <div class="skillbar" data-percent="10%">
                                    <div class="skillbar-title"><span>Ionic</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">10%</div>
                                </div>
                            </div>


                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <!-- THIRD SKILL SECTION -->
                                <div class="skills-title">
                                    <h6 class="text-center">Tools / Dev Ops</h6>
                                </div>
                                <!-- FIRST SKILL BAR -->
                                <div class="skillbar" data-percent="50%">
                                    <div class="skillbar-title"><span>Git</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">50%</div>
                                </div>
                                <!--&lt;!&ndash; SECOND SKILL BAR  &ndash;&gt;-->
                                <!--<div class="skillbar" data-percent="70%">-->
                                <!--<div class="skillbar-title"><span>Adobe InDesign</span></div>-->
                                <!--<div class="skillbar-bar"></div>-->
                                <!--<div class="skill-bar-percent">70%</div>-->
                                <!--</div>-->
                                <!--&lt;!&ndash; THIRD SKILL BAR  &ndash;&gt;-->
                                <!--<div class="skillbar" data-percent="60%">-->
                                <!--<div class="skillbar-title"><span>PHP Storm</span></div>-->
                                <!--<div class="skillbar-bar"></div>-->
                                <!--<div class="skill-bar-percent">60%</div>-->
                                <!--</div>-->
                                <!-- FOURTH SKILL BAR  -->

                                <div class="skillbar" data-percent="15%">
                                    <div class="skillbar-title"><span>Passenger</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">15%</div>
                                </div>
                                <div class="skillbar" data-percent="10%">
                                    <div class="skillbar-title"><span>Docker</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">10%</div>
                                </div>
                                <div class="skillbar" data-percent="30%">
                                    <div class="skillbar-title"><span>Modulus / Digital Ocean / Galaxy</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">30%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
