<!--==========================================
             TESTIMONIALS AND CLIENTS
===========================================-->
<section id="testimonials" class="section">
    <div class="container">
        <!-- SECTION TITLE -->
        <div class="section-title">
            <h4 class="text-uppercase text-center"><i class="title-icon fa fa-users"></i>Testimonials</h4>
        </div>
        <div id="testimonials-card" class="row card">
            <div class="col-md-12 col-xs-12">
                <!-- CLIENTS SLIDER-->
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- INDICATORS -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>
                    <!-- WRAPPER FOR SLIDES -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="col-md-12">
                                <!--CLIENT IMAGE-->
                                <div class="ben center-block">
                                    <img alt="client-image" class="center-block" src="images/client.png">
                                </div>
                                <!--CLIENT QUOTE-->
                                <blockquote>
                                    I work with John on several web development projects and I find him to be extremely
                                    creative and a technical Front End Developer. Jone expertise involves building
                                    complex
                                    Responsive Design layouts using HTML 5, CSS3, and JavaScript.
                                    <cite>Mike, CEO, IT World.</cite>
                                </blockquote>
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-md-12">
                                <!--CLIENT IMAGE-->
                                <div class="ben center-block">
                                    <img alt="client-image" class="center-block" src="images/client.png">
                                </div>
                                <!--CLIENT QUOTE-->
                                <blockquote>
                                    I work with John on several web development projects and I find him to be extremely
                                    creative and a technical Front End Developer. Jone expertise involves building
                                    complex
                                    Responsive Design layouts using HTML 5, CSS3, and JavaScript.
                                    <cite>Mike, CEO, IT World.</cite>
                                </blockquote>
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-md-12">
                                <!--CLIENT IMAGE-->
                                <div class="ben center-block">
                                    <img alt="client-image" class="center-block" src="images/client.png">
                                </div>
                                <!--CLIENT QUOTE-->
                                <blockquote>
                                    I work with John on several web development projects and I find him to be extremely
                                    creative and a technical Front End Developer. Jone expertise involves building
                                    complex
                                    Responsive Design layouts using HTML 5, CSS3, and JavaScript.
                                    <cite>Mike, CEO, IT World.</cite>
                                </blockquote>
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-md-12">
                                <!--CLIENT IMAGE-->
                                <div class="ben center-block">
                                    <img alt="client-image" class="center-block" src="images/client.png">
                                </div>
                                <!--CLIENT QUOTE-->
                                <blockquote>
                                    I work with John on several web development projects and I find him to be extremely
                                    creative and a technical Front End Developer. Jone expertise involves building
                                    complex
                                    Responsive Design layouts using HTML 5, CSS3, and JavaScript.
                                    <cite>Mike, CEO, IT World.</cite>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="clients">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="clients-wrap">
                            <!--CLIENT LOGO'S-->
                            <ul id="clients-list" class="clearfix">
                                <li><img src="images/logo.png" alt="client-logo"></li>
                                <li><img src="images/logo.png" alt="client-logo"></li>
                                <li><img src="images/logo.png" alt="client-logo"></li>
                                <li><img src="images/logo.png" alt="client-logo"></li>
                                <li><img src="images/logo.png" alt="client-logo"></li>
                                <li><img src="images/logo.png" alt="client-logo"></li>
                                <li><img src="images/logo.png" alt="client-logo"></li>
                                <li><img src="images/logo.png" alt="client-logo"></li>
                                <li><img src="images/logo.png" alt="client-logo"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
