<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body>

        {% include pre-loader.html %}

        {% include nav.html %}

        {% include about.html %}

        {% include experience.html %}

        {% include education.html %}

        {% include skills.html %}

        {% include portfolios.html %}

        {% include interests.html %}


        {% include blog.html %}

        {% include contact.html %}

        {% include scroll-up.html %}

        {% include modals.html %}


        {% include footer.html %}

        {% include scripts.html %}


    </body>

</html>
